@{ 
    Layout = "_Layout";
}

<div class="container pt-5">
    

    <h1>The Cat Stop</h1>
    <br />
    <img src="~/assets/Cat.png"/>
    <img src="~/assets/Cat2.png" />
    <img src="~/assets/Octocat.png" />
    <img src="~/assets/Cat2.png" />
    <img src="~/assets/Cat.png"/>
    <br />
    <br />
    <h3>Welcome Back Wayward Soul!</h3>

    <br />
    <h4>How have you not visited in so long?</h4>

    @*I blame Jimmy*@
    
    <br />
    <h4>Here's a customary fish!</h4>

    <img src="~/assets/salmon.png" />

    <h4>I was able to acquire this before some crazy person decided to use it to make cookies!</h4>
</div>