@{ 
    Layout = "_Layout";
}


<main class="container pt-5">
    <h2>Home</h2>

@if (SignInManager.IsSignedIn(User))
{
    <h4>Hello @User.Claims.First(c => c.Type == "FullName").Value</h4>
}
else
{
    <h4>Hello Anonymous!</h4>
}

<p>Welcome to the Home Page</p>

</main>
