@{
    Layout = "_Layout";
}

<div class="container pt-5">
    <h3>Local Discount!</h3>
    <br />
    <br />
    <h5>All Chairs 15% off!!!</h5>
    <p>When purchasing, put in the PromoCode: SEAHAWK4TW</p>
    <br />
    <br />
    <h5>All Beds 10% off!!!</h5>
    <p>When purchasing, put in the PromoCode: SEAHAWK4EVER</p>
    <br />
    <br />
    <h5>All Cabinets 20% off!!!</h5>
    <p>When purchasing, put in the PromoCode: SEATTLEPRIDE</p>
</div>
