@model Order;

@{
    Layout = "_Layout";
}

<div class="container pt-5 pb-5">

    <h2>Receipt</h2>

    <h4>Thank you for shopping with us</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BasketItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price</td>
                </tr>
            }
        </tbody>
    </table>

    <h4>Grand Total: @Model.TotalPrice</h4>

    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Back to Home Page</a>

</div>