@model RegisterViewModel

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" href="~/Stylesheet.css" />


<div class="container">
    <h4>Create a User</h4>
    <hr />
    <br />
    <form asp-action="Register" method="post">
        <div class="form-group row">
            <h6 class="col-sm-2 offset-sm-1"><label asp-for="Email" class="col-form-label"></label></h6>
            <div class="col-sm-9">
                <input asp-for="Email" class="form-control" value="@Model.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <h6 class="col-sm-2 offset-sm-1"><label asp-for="FirstName" class="col-form-label"></label></h6>
            <div class="col-sm-9">
                <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <h6 class="col-sm-2 offset-sm-1"><label asp-for="LastName" class="col-form-label"></label></h6>
            <div class="col-sm-9">
                <input asp-for="LastName" class="form-control" value="@Model.LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <h6 class="col-sm-2 offset-sm-1"><label asp-for="Location" class="col-form-label"></label></h6>
            <div class="col-sm-9">
                <input asp-for="Location" class="form-control" value="@Model.Location" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <h6 class="col-sm-2 offset-sm-1"><label asp-for="Password" class="col-form-label"></label></h6>
            <div class="col-sm-9">
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <p>Passwords need to have at least: 1 uppercase, 1 number, and 1 symbol</p>
            </div>
        </div>
        <div class="form-group row">
            <h6 class="col-sm-2 offset-sm-1"><label asp-for="ConfirmPassword" class="col-form-label"></label></h6>
            <div class="col-sm-9">
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" class="btn btn-primary" value="Create User" />
            </div>
        </div>

        <br />
        <div class="col-sm-9 offset-sm-3">
            <a asp-action="Login">Login</a>
        </div>
        <br />
        <div class="col-sm-9 offset-sm-3">
            <a asp-action="Index" asp-controller="Home">Return to the Home Page</a>
        </div>
    </form>

</div>